<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            <![CDATA[jdbc:mysql://localhost/MusicAlbums?useLegacyDatetimeCode=false&serverTimezone=America/New_York&useSSL=false]]></property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">dba</property>
        <property name="hibernate.connection.password">sql</property>
        <property name="hibernate.hbm2ddl.auto"> update </property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.connection.pool_size">20</property>

        <mapping class="com.entities.Album"/>
        <mapping resource="Album.hbm.xml"/>

        <mapping class="com.entities.Artist"/>
        <mapping resource="Artist.hbm.xml"/>

        <mapping resource="Chart.hbm.xml"/>
        <mapping class="com.entities.Chart"/>

        <mapping resource="ClasamentEntry.hbm.xml"/>
        <mapping class="com.entities.ClasamentEntry"/>

        <mapping class="com.entities.Genre"/>
        <mapping resource="Genre.hbm.xml"/>

        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>